:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-padding-top: 110px;
}

h1 {
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  gap: 2em;
}

.side-bar {
  position: sticky;
  top: 110px;
  align-self: start;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 0;
  background-color: var(--pico-background-color);
}

.side-bar ul {
  padding: 0;
}

.side-bar li {
  list-style: none;
}

.side-bar li:hover {
  transition: .1s;
  background: rgba(255, 255, 255, 0.05);
}

.side-bar li a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}

.main-content {
  padding-left: 1em;
  padding-top: 110px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-toggle {
  display: none;
  margin-right: 1em;
}

.month-name {
  font-weight: bold;
  font-size: xx-large;
}

.day {
  margin-bottom: 2em;
}

.day .day-header {
  font-weight: bold;
  font-size: x-large;
  color: var(--pico-accordion-open-summary-color);
}

.day .day-daytime, .day .day-evening {
  font-weight: bold;
}

.day .event-list {
  margin-left: 2em;
}

.day p {
  margin: 0;
}

.event-header + .event-content {
  margin-left: 2em;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .side-bar {
    position: fixed;
    top: 72px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1em;
    background-color: var(--pico-background-color);
    transform: translateX(-100%);
  }

  .side-bar.open {
    transform: translateX(0);
  }

  .main-content {
    padding: 0;
    padding-top: 110px;
    border-left: none;
  }

  .menu-toggle {
    display: inline-block;
  }

  #root {
    padding: 0 1rem;
  }
}